.inspection-solutions {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  padding-left: 24px;
}

.alibaba-com-logistic {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.links {
  margin-bottom: 4px;
  margin-top: 4px;
}
