.login-purchase {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  padding: 12px;
  border-radius: 20px;
  width: 258px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  transition: all 0.5s ease;
}

.loginpurchase {
  margin-top: 18px;
  margin-bottom: 4px;
}

button.login-purchase:hover {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}
